<a href="https://colab.research.google.com/github/ds2025-col/ooptask1/blob/main/ooptask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#single inheritance

class students():
  def __init__(self,name,subject,rollno):
    self.n=name
    self.sub=subject
    self.rn=rollno
class student1(students):
  def __init__(self,name,subject,rollno,sid):
    self.n=name
    self.sub=subject
    self.rn=rollno
    self.id=sid
sdt1=students('arya','maths',22)
print(sdt1.n)
print(sdt1.sub)

arya
maths

In [12]:
#multilevel inheritance

class students():
  def __init__(self,name,subject,rollno):
    self.n=name
    self.sub=subject
    self.rn=rollno
class student1(students):
  def __init__(self, name, subject, rollno,mark):
    self.n=name
    self.sub=subject
    self.rn=rollno
    self.m=mark
class sdetails(student1):
  def __init__(self, name, subject, rollno, mark):
    self.n=name
    self.sub=subject
    self.rn=rollno
    self.m=mark
sdt1=students('arya','maths',20)
sdtl=student1('arya','maths',20,90)
print(sdt1.n)
print(sdtl.m)

arya
90

In [14]:
#hierachial inheritance

class students():
  def __init__(self,name,subject,rollno):
    self.n=name
    self.sub=subject
    self.rn=rollno
class student1(students):
  def __init__(self, name, subject, rollno):
     self.n=name
     self.sub=subject
     self.rn=rollno
class student2(students):
  def __init__(self, name, subject, rollno):
    self.n=name
    self.sub=subject
    self.rn=rollno
sdt1=students('ann','biology',11)
sdt2=students('sam','malayalam',3)
print(sdt1.sub,sdt1.n)
print(sdt2.n ,sdt2.sub ,sdt2.rn)

biology ann
sam malayalam 3

In [19]:
#multiple inheritance

class collage():
  def __init__(self,courses,fees,batch):
    self.c=courses
    self.f=fees
    self.b=batch
class courses():
  def __init__(self,courses,name,subject,hod,batch):
    self.c=courses
    self.name=name
    self.sub=subject
    self.h=hod
    self.b=batch
class students(collage,courses):
  def __init__(self,name,courses,fees,hod,batch,subject):
    self.name=name
    self.c=courses
    self.f=fees
    self.h=hod
    self.b=batch
    self.sub=subject
std1=collage('bca',50000,2025)
std1=students('arya','bca',50000,'anil',2025,'andriod')
print(std1.h,std1.c,std1.sub)

anil bca andriod